<form [formGroup]="forma" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Project name</label>
        <input type="text" class="form-control" formControlName="projectName">
        <span style="color: red;" *ngIf="forma.get('projectName').touched && forma.get('projectName').hasError('required')">Obavezno polje</span>
    </div>
    <div class="form-group">
        <label>Start date</label>
        <input type="date" class="form-control" formControlName="startDate">
    
    </div>
    <div class="form-group">
        <label>Finish date</label>
        <input type="date" class="form-control" formControlName="finishDate">
    </div>
    
    <div class="container">
        <div class="col-md-12">
            <div class="row" *ngFor="let team of teams; let i = index">
                <div class="col-md-1">
                    <input type="checkbox" (change)="addTeam(team.teamID)" [checked]="contains(team)">
                </div>

                <div class="col-md-10">
                    {{team.teamName}}
                </div>
            </div>
        </div>
    </div>
    <button [disabled]="!forma.valid" class="btn btn-primary">Update project</button>
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Uspjesno dodano!</strong> Uspjesno ste uredili podatke.
        <button (click)="CloseClick()" type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
</form>
