<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Uspjesno dodano!</strong> Uspjesno ste uredili podatke.
    <button (click)="CloseClick()" type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
<form [formGroup]="forma" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Team name</label>
        <input type="text" class="form-control" formControlName="TeamName">
        <span style="color: red;" *ngIf="forma.get('TeamName').touched && forma.get('TeamName').hasError('required')">Obavezno polje</span>

    </div>
    <button class="btn btn-primary" [disabled]="!forma.valid">Update team</button>
</form>